@import 'vendor/bootstrap/variables',
        'vendor/bootstrap/mixins',
        'vendor/bootstrap/normalize',
        'vendor/bootstrap/scaffolding',
        'vendor/bootstrap/grid',
        'vendor/bootstrap/forms',
        'vendor/bootstrap/buttons',
        'vendor/bootstrap/navs',
        'vendor/bootstrap/list-group',
        'vendor/bootstrap/responsive-utilities';
@import 'vendor/font-awesome';
@import 'compass';
@import 'vars';

body {
    a {
        &:hover, &:focus {
            color: map-get(map-get($color, flatuicolorsDOTcom), wisteria);
        }

        &:focus {
            outline: none;
            text-decoration: none;
        }
    }
}

/*

.lt-ie8 {
    .container {
        @media (min-width: $screen-xs-min) {
            width: $screen-xs - $grid-gutter-width;
        }

        @media (min-width: $screen-md-min) {
            width: $container-sm - $grid-gutter-width - 6px;
        }
    }

    .col-xs-4,
    .col-xs-6,
    .col-sm-3,
    .col-sm-6 {
        padding-left: 0;
        padding-right: 0;

        > * {
            margin-left: $grid-gutter-width * .5;
            margin-right: $grid-gutter-width * .5;
        }
    }

    .col-xs-4 {
        width: 33.2%;
    }

    @media (min-width: $screen-md-min) {
        .col-sm-2 {
            width: 100% * (1 / 6);
        }

        .col-sm-offset-3 {
            margin-left: 26%;
        }

        .col-sm-offset-6 {
            margin-left: 52%;
        }
    }
}

*/

.b-lt-ie10 {
    background-color: map-get(map-get($color, flatuicolorsDOTcom), sunFlower);
    display: none;

    @media (min-width: $screen-sm-min) {
        @include border-bottom-radius(2px);
    }

    &__p {
        color: map-get($color, brown);
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: map-get($css, line-height);
        padding-top: map-get($css, line-height);
        text-align: center;

        .no-js {
            display: none;
        }
    }

    &__logo {
        display: block;
        height: map-get($css, line-height) * 3;
        margin-bottom: map-get($css, line-height);
        margin-left: auto;
        margin-right: auto;
    }

    @at-root .no-js.lt-ie9 & {
        bottom: 0;
        left: 0;
        @include opacity(.9);
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;

        .no-js {
            display: inline;
        }

        .js {
            display: none;
        }
    }

    @at-root .lt-ie8 & {
        @media (min-width: $screen-xs-min) {
            width: $screen-xs - $grid-gutter-width;
        }

        @media (min-width: $screen-md-min) {
            width: $container-sm - $grid-gutter-width;
        }
    }
}

.b-Body {
    @at-root .lt-ie9 & {
        @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
            padding-bottom: map-get($css, line-height) * 2;
        }
    }
}

.b-header {
    @at-root .lt-ie9 & {
        @media (min-width: $screen-xs-min) {
            padding-bottom: map-get($css, line-height) * 2;
            padding-top: map-get($css, line-height) * 2;
        }

        @media (min-width: $screen-sm-min) {
            padding-bottom: 100% * (1 / 4);
            padding-top: 0;
        }
    }

    &__bg {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-sm-min) {
                bottom: auto;
                padding-bottom: 100% * (1.5 / 4);
            }
        }

        @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
            border-bottom: 1px solid map-get(map-get($color, flatuicolorsDOTcom), turquoise);
        }

        &:before,
        &:after {
            background-position: center;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                content: '';
            }
        }

        &:before {
            background-image: url(/img/noise.png);
            @include background-size(5%);
            @include opacity(.5);
        }

        &:after {
            //background-image: url(/img/vendor/slir/w1080/img/header-bg.jpg);
            background-image: url(http://res.cloudinary.com/pajaroncreative/image/upload/s--xIfcuOw5--/c_scale,q_jpegmini,w_1080/v1445287568/100roxasavenue.com/header-bg.jpg);
            @include background-size(100%);
            @include opacity(.25);
        }
    }

    &__h1 {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-sm-min) {
                bottom: 50%;
                left: 0;
                padding-bottom: map-get($css, line-height);
                position: absolute;
                right: 0;
            }
        }
    }

    &__a-logo {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                font-size: 2.5em;
            }

            @media (min-width: $screen-sm-min) {
                font-size: 3em;
            }
        }

        &:hover {
            color: map-get($color, white);
            text-decoration: none;
        }
    }

    &__hr {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-sm-min) {
                left: 50%;
                margin-left: -$grid-gutter-width;
                margin-right: 0;
                margin-top: 0;
                position: absolute;
                top: 50%;
                width: $grid-gutter-width * 2;
            }
        }
    }

    &__h2 {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                font-size: 1.25em;
            }

            @media (min-width: $screen-sm-min) {
                font-size: 1.5em;
                left: 0;
                padding-top: map-get($css, line-height);
                position: absolute;
                right: 0;
                top: 50%;
            }
        }
    }
}

.b-body {
    @at-root .lt-ie9 & {
        @media (min-width: $screen-sm-min) {
            margin-left: auto;
            margin-right: auto;
            max-width: $container-sm + $grid-gutter-width;
        }
    }
}

.b-footer {
    padding-bottom: map-get($css, line-height) * 3;
    padding-top: map-get($css, line-height) * 2;

    &__pajaroncreative,
    &__copyright {
        padding-top: map-get($css, line-height);
        text-align: center;

        @media (min-width: $screen-sm-min) {
            padding-top: 0;
        }
    }

    &__pajaroncreative {
        @media (min-width: $screen-sm-min) {
            float: left;
        }
    }

    &__copyright {
        color: map-get($color, brown);

        @media (min-width: $screen-sm-min) {
            float: right;
        }
    }

    &__a {
        background-color: map-get($color, brown);
        @include border-radius($border-radius-small);
        color: map-get($color, footer-bg);
        display: inline-block;
        padding: #{map-get($css, line-height) * .25} #{$grid-gutter-width * .5};

        &:hover {
            color: map-get($color, footer-bg);
            text-decoration: none;
        }
    }
}
