@import 'vendor/bootstrap/variables';
@import 'compass';
@import 'vars';

.b-site_index {
    &__section-group {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                @include clearfix;
                margin-top: 1px;
                position: relative;
            }

            @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                margin-top: map-get($css, line-height) * 2;
            }
        }
    }

    &__section {
        &_isolated {
            @at-root .lt-ie9 & {
                @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                    @include border-radius($border-radius-large);
                    margin-top: map-get($css, line-height);
                    padding-top: map-get($css, line-height);
                }
            }
        }
    }
}

.b-location {
    @at-root .lt-ie9 & {
        @media (min-width: $screen-xs-min) {
            overflow: hidden;
        }
    }

    .b-site_index__heading {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                display: block;
                float: left;
                margin-bottom: 0;
                margin-right: ($grid-gutter-width * .5) - 1px;
            }
        }
    }

    &__tabs {
        &#{&} {
            @at-root .lt-ie9 & {
                @media (min-width: $screen-xs-min) {
                    margin-left: -$grid-gutter-width;
                    margin-right: -$grid-gutter-width;
                    padding-left: $grid-gutter-width;
                    padding-right: $grid-gutter-width;
                }
            }

            li {
                @at-root .lt-ie9 & {
                    @media (min-width: $screen-xs-min) {
                        float: left;
                    }
                }

                a {
                    &:hover {
                        background-color: map-get($color, bg);
                        border-bottom-color: map-get($color, lighter-brown);
                        border-left-color: map-get($color, bg);
                        border-right-color: map-get($color, bg);
                        border-top-color: map-get($color, bg);
                        color: map-get($color, brown);
                    }
                }

                &.active {
                    a:hover, a:focus {
                        background-color: map-get($color, lighter-brown);
                        border-left-color: map-get($color, lighter-brown);
                        border-right-color: map-get($color, lighter-brown);
                        border-top-color: map-get($color, lighter-brown);
                        color: map-get($color, brown);
                    }
                }
            }
        }
    }

    &__tab-content {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                margin-left: -$grid-gutter-width;
                margin-right: -$grid-gutter-width;
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;
            }
        }
    }
}

@mixin map($office: '100roxasavenue', $scale: 1) {

    // center 100 Roxas Avenue
    $center: '7.0698,125.6143';

    background-image: url('http://maps.googleapis.com/maps/api/staticmap?' +

        // center
        'center=' + $center +

        '&' +

        // zoom
        //'zoom=17' +
        'zoom=16' +

        '&' +

        // size
        'size=720x480' +

        '&' +

        // scale
        'scale=' + $scale +

        //'&style=feature:administrative|element:labels.text.fill|' +

        // administrative labels text fill color
        //'color:' + color-hex(map-get($color, lighter-brown)) +

        //'&style=feature:administrative|element:labels.text.stroke|' +

        // administrative labels text stroke color
        //'color:' + color-hex(map-get($color, white)) +

        '&style=feature:landscape.man_made|element:geometry.fill|' +

        // landscape man-made geometry fill color
        'color:' + color-hex(map-get($color, lighter-brown)) +

        //'&style=feature:poi|element:geometry|' +

        // poi geometry color
        //'color:' + color-hex(whiten(mix(map-get(map-get($color, flatuicolorsDOTcom), emerald), map-get(map-get($color, flatuicolorsDOTcom), alizarin), 25%), 25%, 8)) +

        //'&style=feature:poi.park|element:geometry|' +

        // poi park geometry color
        //'color:' + color-hex(whiten(map-get(map-get($color, flatuicolorsDOTcom), turquoise), 25%, 8)) +

        //'&style=feature:poi|element:labels|' +

        // poi labels visibility
        //'visibility:on' +

        //'&style=feature:road|element:geometry.fill|' +

        // road geometry fill color
        //'color:' + color-hex(map-get($color, highlight)) +

        //'&style=feature:road|element:geometry.stroke|' +

        // road geometry stroke color
        //'color:' + color-hex(map-get($color, highlight)) +

        //'&style=feature:road.local|element:geometry.fill|' +

        // road local geometry fill color
        //'color:' + color-hex(map-get($color, highlight)) +

        //'&style=feature:road|element:labels|' +

        // road labels visibility
        //'visibility:on' +

        '&style=feature:road|element:labels.text.fill|' +

        // road labels  text fill color
        'color:' + color-hex(map-get($color, brown)) +

        //'&style=feature:transit|' +

        // transit visibility
        //'visibility:off' +

        '&style=feature:water|' +

        // water color
        'color:' + color-hex(map-get($color, blue))
    );
}

.b-map {
    background-position: center;
    background-repeat: no-repeat;
    @include background-size(175%);
    margin-left: -($grid-gutter-width * .5);
    margin-right: -($grid-gutter-width * .5);
    position: relative;

    @media (min-width: $screen-xs-min) {
        @include background-size(100%);
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
    }

    &:before {
        background-image: linear-gradient(rgba(map-get($color, lighter-brown), 1), rgba(map-get($color, lighter-brown), 0));
        content: '';
        height: 25%;
        left: 0;
        position: absolute;
        right: 0;
    }

    &--100roxasavenue {
        @include map('100roxasavenue');
    }

    @at-root .backgroundsize & {
        &--100roxasavenue {
            @include map('100roxasavenue', 2);
        }
    }

    &__before {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                padding-top: 100% * (360 / 720);
            }
        }
    }

    &__marker {
        bottom: 50%;
        color: map-get(map-get($color, flatuicolorsDOTcom), alizarin);
        font-size: 3em;
        left: 50%;
        margin-left: -($grid-gutter-width * .5);
        position: absolute;
        text-align: center;
        @include text-shadow(0 0 1px white);
        width: $grid-gutter-width;
    }
}

.b-facilities {
    &__subheading {
        color: map-get($color, brown);
        font-weight: map-get(map-get(map-get($font, sans), weight), normal);

        @media (min-width: $screen-xs-min) {
            font-size: 1.25em;
            line-height: map-get($css, line-height) * 1.5;
        }
    }

    &__points {
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;

        @media (min-width: $screen-sm-min) {
            margin-bottom: map-get($css, line-height);
            margin-top: map-get($css, line-height);
        }
    }

    &__point {
        margin-top: map-get($css, line-height) * .5;
        padding-bottom: map-get($css, line-height) * .5;
        padding-left: $grid-gutter-width * 1.75;
        padding-top: map-get($css, line-height) * .5;
        position: relative;

        @media (min-width: $screen-sm-min) {
            padding-left: $grid-gutter-width * 2;
        }

        &-icon {
            background-color: map-get($color, highlight);
            @include border-radius(map-get($css, line-height));
            color: map-get($color, brown);
            height: map-get($css, line-height) * 2;
            left: 0;
            line-height: map-get($css, line-height) * 2;
            position: absolute;
            text-align: center;
            top: 0;
            width: map-get($css, line-height) * 2;
        }
    }

    &__footnote {
        color: map-get($color, brown);
        font-size: .75em;
    }
}

.b-contact {
    background-color: transparent;

    @media (min-width: $screen-xs-min) {
        overflow: hidden;
        position: relative;
    }

    .b-site_index__heading {
        display: none;
    }

    &__facebook {
        position: relative;
        text-align: center;

        &-a {
            text-align: left;
        }

        &-icon {
            display: inline-block;
            width: $grid-gutter-width * .75;
        }
    }

    &__phones {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 75%;
    }

    &__phone {
        background-color: map-get(map-get($color, flatuicolorsDOTcom), alizarin);
        @include border-radius(map-get($css, line-height));
        color: map-get($color, white);
        display: inline-block;
        margin-bottom: 2px;
        margin-top: 2px;
        padding: #{(map-get($css, line-height) * .5) - 2px} #{$grid-gutter-width * .5};

        &:hover {
            background-color: map-get($color, highlight);
            color: map-get(map-get($color, flatuicolorsDOTcom), alizarin);
            text-decoration: none;
        }

        &-icon {
            margin-right: $grid-gutter-width * .5;
        }
    }
}
