@import 'vendor/bootstrap/variables';
@import 'vendor/magnific-popup';
@import 'compass';
@import 'vars';

$sidebar-width: $container-lg - $container-sm - ($grid-gutter-width * 2);

.Site_index {
    .b-footer {
        .container {
            @media (min-width: $screen-lg-min) {
                width: $container-lg;
            }
        }
    }
}

.b-site_index {
    @at-root .lt-ie9 & {
        @media (min-width: $screen-lg-min) {
            margin-left: -($sidebar-width * .5);
            margin-right: -($sidebar-width * .5);
            padding-right: $sidebar-width;
            position: relative;
        }
    }

    &__section-group {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                @include clearfix;
                margin-top: 1px;
                position: relative;
            }

            @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                margin-top: map-get($css, line-height) * 2;
            }
        }
    }

    &__section {
        &_isolated {
            @at-root .lt-ie9 & {
                @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                    @include border-radius($border-radius-large);
                    margin-top: map-get($css, line-height);
                    padding-top: map-get($css, line-height);
                }
            }
        }
    }

    &__sidebar {
        @media (min-width: $screen-lg-min) {
            position: absolute;
            right: 0;
            top: 0;
            width: $sidebar-width - ($grid-gutter-width * .5);
        }

        .container {
            @media (min-width: $screen-lg-min) {
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;
                width: auto;
            }
        }

        .col-sm-6 {
            @media (min-width: $screen-lg-min) {
                float: none;
                width: auto;
            }

            ul {
                @media (min-width: $screen-lg-min) {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }

        .b-site_index__section_isolated:first-child {
            @media (min-width: $screen-lg-min) {
                margin-top: 0;
            }
        }
    }
}

.b-location {
    @at-root .lt-ie9 & {
        @media (min-width: $screen-xs-min) {
            overflow: hidden;
        }

        @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
            @include border-bottom-right-radius(0);
        }
    }

    .b-site_index__heading {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                display: block;
                float: left;
                margin-bottom: 0;
                margin-right: ($grid-gutter-width * .5) - 1px;
            }
        }
    }

    &__tabs {
        &#{&} {
            @at-root .lt-ie9 & {
                @media (min-width: $screen-sm-min) {
                    margin-left: -$grid-gutter-width;
                    margin-right: -$grid-gutter-width;
                    padding-left: $grid-gutter-width;
                    padding-right: $grid-gutter-width;
                }
            }

            li {
                @at-root .lt-ie9 & {
                    @media (min-width: $screen-xs-min) {
                        float: left;
                    }
                }

                a {
                    &:hover {
                        background-color: map-get($color, bg);
                        border-bottom-color: map-get($color, lighter-brown);
                        border-left-color: map-get($color, bg);
                        border-right-color: map-get($color, bg);
                        border-top-color: map-get($color, bg);
                        color: map-get($color, brown);
                    }
                }

                &.active {
                    a:hover, a:focus {
                        background-color: map-get($color, lighter-brown);
                        border-left-color: map-get($color, lighter-brown);
                        border-right-color: map-get($color, lighter-brown);
                        border-top-color: map-get($color, lighter-brown);
                        color: map-get($color, brown);
                    }
                }
            }
        }
    }

    &__tab-content {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-sm-min) {
                margin-left: -$grid-gutter-width;
                margin-right: -$grid-gutter-width;
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;
            }
        }
    }

    &__tab-pane {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                position: relative;
            }
        }

        &-info {
            @at-root .lt-ie9 & {
                @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                    bottom: 0;
                    &#{&} {
                        margin-bottom: 0;
                    }
                    position: absolute;
                    right: -$grid-gutter-width;
                    z-index: 1;
                }
            }

            .list-group-item {
                @at-root .lt-ie9 & {
                    @media (min-width: $screen-sm-min + ($grid-gutter-width * 2)) {
                        background-color: map-get($color, bg);
                        border-color: map-get($color, bg);
                        &.list-group-item {
                            @include border-radius(0);
                        }
                        color: map-get($color, white);
                    }
                }
            }
        }
    }
}

@mixin map($office: '100roxasavenue', $scale: 1) {

    // center 100 Roxas Avenue
    $center: '7.06905,125.61500';

    background-image: url('http://maps.googleapis.com/maps/api/staticmap?' +

        // center
        'center=' + $center +

        '&' +

        // zoom
        //'zoom=17' +
        'zoom=16' +

        '&' +

        // size
        'size=640x640' +

        '&' +

        // scale
        'scale=' + $scale +

        //'&style=feature:administrative|element:labels.text.fill|' +

        // administrative labels text fill color
        //'color:' + color-hex(map-get($color, lighter-brown)) +

        //'&style=feature:administrative|element:labels.text.stroke|' +

        // administrative labels text stroke color
        //'color:' + color-hex(map-get($color, white)) +

        '&style=feature:landscape.man_made|element:geometry.fill|' +

        // landscape man-made geometry fill color
        'color:' + color-hex(map-get($color, lighter-brown)) +

        //'&style=feature:poi|element:geometry|' +

        // poi geometry color
        //'color:' + color-hex(whiten(mix(map-get(map-get($color, flatuicolorsDOTcom), emerald), map-get(map-get($color, flatuicolorsDOTcom), alizarin), 25%), 25%, 8)) +

        //'&style=feature:poi.park|element:geometry|' +

        // poi park geometry color
        //'color:' + color-hex(whiten(map-get(map-get($color, flatuicolorsDOTcom), turquoise), 25%, 8)) +

        //'&style=feature:poi|element:labels|' +

        // poi labels visibility
        //'visibility:on' +

        //'&style=feature:road|element:geometry.fill|' +

        // road geometry fill color
        //'color:' + color-hex(map-get($color, highlight)) +

        //'&style=feature:road|element:geometry.stroke|' +

        // road geometry stroke color
        //'color:' + color-hex(map-get($color, highlight)) +

        //'&style=feature:road.local|element:geometry.fill|' +

        // road local geometry fill color
        //'color:' + color-hex(map-get($color, highlight)) +

        //'&style=feature:road|element:labels|' +

        // road labels visibility
        //'visibility:on' +

        '&style=feature:road|element:labels.text.fill|' +

        // road labels  text fill color
        'color:' + color-hex(map-get($color, brown)) +

        //'&style=feature:transit|' +

        // transit visibility
        //'visibility:off' +

        '&style=feature:water|' +

        // water color
        'color:' + color-hex(map-get(map-get($color, flatuicolorsDOTcom), turquoise))
    );
}

.b-map {
    background-position: center;
    background-repeat: no-repeat;
    @include background-size(175%);
    margin-left: -($grid-gutter-width * .5);
    margin-right: -($grid-gutter-width * .5);
    position: relative;

    @media (min-width: $screen-xs-min) {
        @include background-size(100%);
    }

    @media (min-width: $screen-sm-min) {
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
    }

    &:before {
        background-image: linear-gradient(rgba(map-get($color, lighter-brown), 1), rgba(map-get($color, lighter-brown), 0));
        content: '';
        height: 25%;
        left: 0;
        position: absolute;
        right: 0;
    }

    &__before {
        @at-root .lt-ie9 & {
            @media (min-width: $screen-xs-min) {
                padding-top: 100% * (360 / 720);
            }
        }
    }

    &--100roxasavenue {
        @include map('100roxasavenue');
    }

    @at-root .backgroundsize & {
        &--100roxasavenue {
            @include map('100roxasavenue', 2);
        }
    }

    &__marker {
        bottom: 50%;
        color: map-get(map-get($color, flatuicolorsDOTcom), alizarin);
        font-size: 3em;
        left: 50%;
        margin-left: -($grid-gutter-width * .5);
        position: absolute;
        text-align: center;
        @include text-shadow(0 0 1px white);
        width: $grid-gutter-width;
    }
}

.b-photos {
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding-top: 0;

    @media (min-width: $screen-sm-min) {
        overflow: hidden;
    }

    &__scrollPane {
        white-space: nowrap;

        @media (min-width: $screen-sm-min) {
            @include clearfix;
            margin-right: -1px;
            margin-top: -1px;
        }
    }

    &__photo-container {
        display: inline-block;
        margin-left: 1px;
        vertical-align: top;
        width: 75%;

        @media (min-width: $screen-xs-min) {
            width: 45%;
        }

        @media (min-width: $screen-sm-min) {
            float: left;
            margin-left: 0;
            margin-top: 1px;
            width: 25%;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__photo {
        background-color: map-get($color, lighter-brown);
        background-position: center;
        @include background-size(101%);
        display: block;

        @media (min-width: $screen-sm-min) {
            background-color: map-get(map-get($color, flatuicolorsDOTcom), wetAsphalt);
            margin-right: 1px;
            @include opacity(.5);
        }

        &:hover {
            @media (min-width: $screen-sm-min) {
                @include opacity(1);
            }
        }

        &:before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
}

.js-photos {
    &__photo {
        cursor: zoom-in;
    }
}

.b-facilities {
    &__subheading {
        color: map-get($color, brown);
        font-weight: map-get(map-get(map-get($font, sans), weight), normal);

        @media (min-width: $screen-xs-min) {
            font-size: 1.25em;
            line-height: map-get($css, line-height) * 1.5;
        }
    }

    &__points {
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;

        @media (min-width: $screen-sm-min) {
            margin-bottom: map-get($css, line-height);
            margin-top: map-get($css, line-height);
        }
    }

    &__point {
        margin-top: map-get($css, line-height) * .5;
        padding-bottom: map-get($css, line-height) * .5;
        padding-left: $grid-gutter-width * 1.75;
        padding-top: map-get($css, line-height) * .5;
        position: relative;

        @media (min-width: $screen-sm-min) {
            padding-left: $grid-gutter-width * 2;
        }

        &-icon {
            background-color: map-get($color, highlight);
            @include border-radius(map-get($css, line-height));
            color: map-get($color, brown);
            height: map-get($css, line-height) * 2;
            left: 0;
            line-height: map-get($css, line-height) * 2;
            position: absolute;
            text-align: center;
            top: 0;
            width: map-get($css, line-height) * 2;
        }
    }

    &__footnote {
        color: map-get($color, brown);
        font-size: .75em;
    }
}

.b-rates {
    @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
        padding-bottom: map-get($css, line-height);
    }

    &__items {
        @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
            @include clearfix;
            position: relative;
        }
    }

    &__item {
        @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
            float: left;
            width: 50%;
        }

        &--odd {
            @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
                padding-right: $grid-gutter-width;
            }
        }

        &--even {
            @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
                padding-left: $grid-gutter-width;
            }
        }

        &-title {
            color: map-get($color, brown);
        }

        &-table ul {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__separators {
        display: none;

        @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
            border-color: map-get($color, lighter-brown);
            clear: left;
            display: block;
        }

        &:before {
            @media (min-width: $screen-sm-min) and (max-width: $screen-lg) {
                border-left: 1px solid map-get($color, lighter-brown);
                bottom: 0;
                content: '';
                left: 50%;
                position: absolute;
                top: 0;
            }
        }
    }
}

.b-contact {
    background-color: transparent;

    @media (min-width: $screen-xs-min) {
        overflow: hidden;
        position: relative;
    }

    @media (min-width: $screen-lg-min) {
        padding-top: 0;
    }

    .b-site_index__heading {
        display: none;
    }

    &__facebook {
        position: relative;
        text-align: center;

        &-a {
            text-align: left;
        }

        &-icon {
            display: inline-block;
            width: $grid-gutter-width * .75;
        }
    }

    &__phones {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 75%;

        @media (min-width: $screen-lg-min) {
            margin-left: -$grid-gutter-width;
            margin-right: -$grid-gutter-width;
            margin-top: 0;
            width: auto;
        }
    }

    &__phone {
        background-color: map-get(map-get($color, flatuicolorsDOTcom), alizarin);
        @include border-radius(map-get($css, line-height));
        color: map-get($color, white);
        display: inline-block;
        margin-bottom: 2px;
        margin-top: 2px;
        padding: #{(map-get($css, line-height) * .5) - 2px} #{$grid-gutter-width * .5};

        @media (min-width: $screen-lg-min) {
            @include border-radius(0);
            float: left;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: $grid-gutter-width;
            padding-right: 0;
            position: relative;
            text-align: left;
            width: 50%;
        }

        &:hover {
            background-color: map-get($color, highlight);
            color: map-get(map-get($color, flatuicolorsDOTcom), alizarin);
            text-decoration: none;
        }

        &-icon {
            margin-right: $grid-gutter-width * .5;

            @media (min-width: $screen-lg-min) {
                left: $grid-gutter-width * (3 / 7);
                position: absolute;
                top: map-get($css, line-height) * .5;
            }
        }
    }
}
